{% extends 'base.html' %}
{% load static %}

{% block description %}Washington Natural Gas{% endblock %}
{% block robots %}index, follow{% endblock %}
{% block title %}Submit A Request{% endblock %}

{% block content %}
    <div class="container">
        {% if messages %}
        <ul class="messages list-unstyled mt-4">
            {% for message in messages %}
            <li class="alert {{ message.tags }} messages alert-dismissible fade show" role="alert">
            {% if message.tags == 'alert-danger' %}
            <i class="fas fa-exclamation-circle"></i>
            {% else %}
            <i class="fas fa-check-circle"></i>
            {% endif %}
            {{ message }}
            <button type="button" class="close" data-dismiss='alert' aria-label='Close'>
                <span aria-hidden='true'>&times;</span>
            </button>
            </li>
            <hr>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
    <section class="big-form">
      <div class="main-section">
        <h4 class="h3 head-border-blue">Submit A Repair Request</h4>
        <div class="container">
          <div class="row">
            <div class="col-xl-12">
              <div class="contain-form">
                <h5>Repairs/maintenance request</h5>
                <p>form for maintenance and repair requests</p>
                <form method="post">
                  {% csrf_token %}
                
                <h6>Is your heating and air conditioning system operating & maintaining a comfortable temperature?</h6>{{ form.q1 }}
                <div class="text-danger">{{ form.q1.errors }}</div><br>


                <h6>What is the temperature of your home?</h6> {{ form.home_temperature }}
                <div class="text-danger">{{ form.home_temperature.errors }}</div>
                  <br>

                <h6>Are you interested in?</h6> {{ form.field_of_interest }}
                <div class="text-danger">{{ form.field_of_interest.errors }}</div>

                <h6>Regarding what type of equipment or issue of concern:</h6> {{ form.issue_of_concern }}
                <div class="text-danger">{{ form.issue_of_concern.errors }}</div>

                <h6>Approximate age of equipment</h6> {{ form.equipment_age }}


                <div class="text-danger">{{ form.issue_of_concern.errors }}</div>

                  <div class="all-forms">
                    <div class="form-main">
                      <label>First Name</label>
                      <div class="input-groups"><span><i class="fas fa-user"></i></span>
                        {{ form.first_name }}<i class="fa fa-check valid-icon-1 check1"></i><i class="fas fa-times valid-icon-2 check2"></i>
                      </div>
                      <div class="validation-msg empty">Field can't be empty</div>
                      <div class="text-danger">{{ form.first_name.errors }}</div>
                    </div>

                    <div class="form-main">
                      <label>Last Name</label>
                      <div class="input-groups"><span><i class="fas fa-user"></i></span>
                      {{ form.last_name }}<i class="fa fa-check valid-icon-1 check1"></i><i class="fas fa-times valid-icon-2 check2"></i>
                      </div>
                      <div class="validation-msg empty">Field can't be empty</div>
                      <div class="text-danger">{{ form.last_name.errors }}</div>
                    </div>
                  </div>

                  <div class="all-forms">
                    <div class="form-main">
                      <label>Email</label>
                      <div class="input-groups"><span><i class="fas fa-user"></i></span>
                        {{ form.email }}<i class="fa fa-check valid-icon-1 check1"></i><i class="fas fa-times valid-icon-2 check2"></i>
                      </div>
                      <div class="validation-msg empty">Field can't be empty</div>
                      <div class="text-danger">{{ form.email.errors }}</div>
                    </div>

                    <div class="form-main">
                      <label>Contact Phone </label>
                      <div class="input-groups"><span><i class="fas fa-user"></i></span>
                        {{ form.contact_phone }}<i class="fa fa-check valid-icon-1 check1"></i><i class="fas fa-times valid-icon-2 check2"></i>
                      </div>
                      <div class="validation-msg empty">Field can't be empty</div>
                      <div class="text-danger">{{ form.contact_phone.errors }}</div>
                    </div>
                  </div>

                  <div class="all-forms">
                    <div class="form-main">
                      <label>Cell Phone</label>
                      <div class="input-groups"><span><i class="fas fa-user"></i></span>
                       {{ form.cell_phone }}<i class="fa fa-check valid-icon-1 check1"></i><i class="fas fa-times valid-icon-2 check2"></i>
                      </div>
                      <div class="validation-msg empty">Field can't be empty</div>
                      <div class="text-danger">{{ form.cell_phone.errors }}</div>
                    </div>

                    <div class="form-main">
                      <label>Street Address</label>
                      <div class="input-groups"><span><i class="fas fa-user"></i></span>
                       {{ form.street_address }}<i class="fa fa-check valid-icon-1 check1"></i><i class="fas fa-times valid-icon-2 check2"></i>
                      </div>
                      <div class="validation-msg empty">Field can't be empty</div>
                      <div class="text-danger">{{ form.street_address.errors }}</div>
                    </div>
                  </div>

                  <div class="all-forms">
                    <div class="form-main">
                      <label>Address Line 2</label>
                      <div class="input-groups"><span><i class="fas fa-user"></i></span>
                       {{ form.address_line_2 }}<i class="fa fa-check valid-icon-1 check1"></i><i class="fas fa-times valid-icon-2 check2"></i>
                      </div>
                      <div class="text-danger">{{ form.address_line_2.errors }}</div>
                    </div>

                    <div class="form-main">
                      <label>City</label>
                      <div class="input-groups"><span><i class="fas fa-user"></i></span>
                        {{ form.city }}<i class="fa fa-check valid-icon-1 check1"></i><i class="fas fa-times valid-icon-2 check2"></i>
                      </div>
                      <div class="validation-msg empty">Field can't be empty</div>
                      <div class="text-danger">{{ form.city.errors }}</div>
                    </div>
                  </div>

                  <div class="all-forms">
                    <div class="form-main">
                      <label>WA</label>
                      <div class="input-groups"><span><i class="fas fa-user"></i></span>
                       {{ form.wa }}<i class="fa fa-check valid-icon-1 check1"></i><i class="fas fa-times valid-icon-2 check2"></i>
                      </div>
                      <div class="validation-msg empty">Field can't be empty</div>
                      <div class="text-danger">{{ form.wa.errors }}</div>
                    </div>

                    <div class="form-main">
                      <label>ZIP / Postal Code</label>
                      <div class="input-groups"><span><i class="fas fa-user"></i></span>
                       {{ form.zip_code }} <i class="fa fa-check valid-icon-1 check1"></i><i class="fas fa-times valid-icon-2 check2"></i>
                      </div>
                      <div class="validation-msg empty">Field can't be empty</div>
                      <div class="text-danger">{{ form.zip_code.errors }}</div>
                    </div>
                  </div>

                  <button class="hvr-wobble-horizontal" type="submit">Submit</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
{% endblock %}