{% extends 'base.html' %}
{% load static %}

{% block description %}Washington Natural Gas{% endblock %}
{% block robots %}index, follow{% endblock %}

{% block title %}Cooling{% endblock %}

{% block content %}


<div class="container">
    <p class="alert alert-warning text-center">This page still under development</p>
</div>


 <section class="stock-about">
    <div class="container-fluid">
        <div class="row">
        <div class="shutter" style="background: url({{ cooling.image.url }});background-size: cover;">
            <button style="cursor: default;">{{ cooling.title }}</button>
        </div>
        </div>
    </div>
</section>
<div class="container mt-3">
    {% for post in posts %}
    <a href="{% url 'service:cooling_post' cooling.id post.id %}">{{ post.title }}</a>
    {% endfor %}
</div>
{% endblock %}
