{% extends 'base.html' %}
{% load static %}

{% block description %}Washington Natural Gas{% endblock %}
{% block robots %}index, follow{% endblock %}

{% block title %}Heating{% endblock %}

{% block content %}


{% comment %}
 <div class="container">
     <p class="alert alert-warning text-center">This data is coming from the database and can be changed from Admin (style will be updated later)</p>
     <h2>{{ heating.title }}</h2>

     <img src="{{ heating.image.url }}" alt="cooling" width="400px" height="400px" style="padding-right: 100px;padding-left:50px">
    <br>
     <p>{{ heating.description|safe }}</p>

    {% for post in posts %}
        <a href="{% url 'service:heating_post' heating.id post.id %}">{{ post.title }}</a>
        <img src="{{ post.image.url }}" alt="cooling" width="400px" height="400px" style="padding-right: 100px;padding-left:50px">
        <p>{{ post.description|safe }}</p>
    {% endfor %}

 </div>
 {% endcomment %}
 
 <div class="container">
    <p class="alert alert-warning text-center">This page still under development</p>
</div>


{% endblock %}
