{% extends 'base.html' %}
{% load static %}

{% block description %}{{ post.title }}{% endblock %}
{% block robots %}index, follow{% endblock %}

{% block title %}Heating - {{ post.title }}{% endblock %}

{% block content %}


<section class="big-form">
    <div class="main-section">
      <h3 class="head-border-blue">{{ post.title }}</h3>
      <div class="container">
        <div class="float-md-right float-sm-none"><img class="rounded" style="height: 205px;width: 320px;" src="{{ post.image.url }}" alt="{{ post.title }}" ></div>
        <div class="ml-1">{{ post.description|safe }}</div>
      </div>
    </div>
</section>
 {% endblock %}