{% extends 'base.html' %}
{% load static %}

{% block description %}{{ post.title }}{% endblock %}
{% block robots %}index, follow{% endblock %}

{% block title %}{{ post.title }}{% endblock %}

{% block content %}


{% comment %}
 <div class="container">
     <p class="alert alert-warning text-center">This data is coming from the database and can be changed from Admin (style will be updated later)</p>
     <h2>{{ post.title }}</h2>

     <img src="{{ post.image.url }}" alt="{{ post.title }}" width="400px" height="400px" style="padding-right: 100px;padding-left:50px">
    <br>
     <p>{{ post.description|safe }}</p>

 </div>
 {% endcomment %}
 
 <div class="container">
    <p class="alert alert-warning text-center">This page still under development</p>
</div>
 {% endblock %}



