{% load static %}

    <!-- Start Footer -->
    <footer>
        <div class="container">
          <div class="row">
            <div class="col-lg-4 wow bounceIn" data-wow-duration="1s" data-wow-delay=".5s" data-wow-offset="300"><img class="sevnty" src="{% static 'img/white.png' %}" alt="">
              <p>Washington Natural Gas Heating & Air Conditioning 2208</p>
              <p>158th St SE</p>
              <p class="marg-bt">Mill Creek WA 98012</p>
              <div class="phon"><i class="fas fa-phone-volume"> </i><span> (425) 355-3331</span></div>
              <div class="phon"><i class="fas fa-phone-volume"> </i><span> (425) 355-3331</span></div>
              <div class="phon"><i class="fas fa-phone-volume"> </i><span> (425) 355-3331</span></div>
              <div class="phon"><i class="fas fa-phone-volume"> </i><span> (425) 355-3331</span></div>
              <div class="clearfix"></div>
              <p class="marg-tp"> Business License WASHING913LD</p>
            </div>
            <div class="col-lg-8">
              <div class="row">
                <div class="col-md-6 wow bounceIn" data-wow-duration="1s" data-wow-delay="1s" data-wow-offset="300">
                  <h2>Financing Available</h2><img src="{% static 'img/credit-cards.png' %}" alt="">
                </div>
                <div class="col-md-6 wow bounceIn" data-wow-duration="1s" data-wow-delay="1.5s" data-wow-offset="200">
                  <h2>Affiliations</h2><img src="{% static 'img/Optimized-Aff1.png' %}" alt="">
                </div>
              </div>
            </div>
          </div>
        </div>
      </footer>
      <div class="footer">
        <p>WashingtonNaturalGas &copy; All Rights Reserved.2021</p>
      </div>
      <!-- End Footer-->