{% extends 'base.html' %}
{% load static %}

{% block description %}Washington Natural Gas{% endblock %}
{% block robots %}index, follow{% endblock %}

{% block title %}Financing{% endblock %}

{% block content %}
    


<section class="stock-about">
    <div class="container-fluid">
        <div class="row">
        <div class="shutter" style="background: url({{ finance.header_image.url }});background-size: cover;">
            <button style="cursor: default;">{{ finance.title }}</button>
        </div>
        </div>
    </div>
</section>

<section class="about-us">
    <div class="container text-center">
        {{ finance.description|safe }}
        <br>
        <img class="img-thumbnail" src="{{ finance.image_2.url }}" alt="services" style="height: 165px !important;width: 300px;!important">
    </div>
</section>



{% endblock %}
