{% extends 'base.html' %}
{% load static %}

{% block description %}Washington Natural Gas{% endblock %}
{% block robots %}index, follow{% endblock %}

{% block title %}Financing{% endblock %}

{% block content %}
    


<section class="stock-about">
    <div class="container-fluid">
        <div class="row">
        <div class="shutter" style="background: url({{ finance.header_image.url }});background-size: cover;">
            <button style="cursor: default;">Financing</button>
        </div>
        </div>
    </div>
</section>

<section class="Financing">
    <div class="container">
      {% include 'base/submit_request_button.html' %}
     <h2 class="head-border-blue">{{ finance.title }}</h2>
     {{ finance.description|safe }}
      <div class="row">
        <div class="col-lg-4 offset-lg-4">
          <div class="loggo"><img src="{{ finance.image_2.url }}" alt="Financing"></div>
        </div>
      </div>
    </div>
  </section>


{% endblock %}
