{% extends 'base.html' %}
{% load static %}

{% block description %}Washington Natural Gas{% endblock %}
{% block robots %}index, follow{% endblock %}

{% block title %}Residential{% endblock %}

{% block content %}

    <!-- Start Stock Section-->
    <section class="stock-Residential">
        <div class="container-fluid">
          <div class="row">
            <div class="shutter" style="background: url({{ residential.image_1.url }});background-size: cover;">
              <button style="cursor: default;">Residential</button>
            </div>
          </div>
        </div>
      </section>
      <!-- End Stock Section-->
      <!-- Start Residential content-->
      <section class="Residential">
        <div class="container">
          {% include 'base/submit_request_button.html' %}
          <div class="row">
            <div class="col-lg-4">
              <div class="list-tabs">
                <ul>
                  <li><a href="{% url 'service:cooling' %}">Cooling</a></li>
                  <li><a href="{% url 'service:heating' %}">Heating</a></li>
                  <li><a href="{% url 'pages:financing' %}"> Financing</a></li>
                </ul>
              </div>
            </div>
            <div class="col-lg-8">
              <div class="row">
                <div class="col-lg-6">
                  <div class="phoot"><img src="{{ residential.image_2.url }}" alt=""></div>
                </div>
                <div class="col-lg-6">
                  <div class="phoot"><img src="{{ residential.image_3.url }}" alt=""></div>
                </div>
                <div class="col-lg-12">
                  <div class="text-columnn">
                    <h2 class="head-border-blue">{{ residential.title }}</h2>
                    {{ residential.section_1|safe }}
                  </div>
                </div>
                <div class="col-lg-8">
                    {{ residential.section_2|safe }}
                </div>
                <div class="col-lg-4">
                  <div class="phoot"><img src="{{ residential.image_4.url }}" alt=""></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- End Residential content-->






{% endblock %}
