<!DOCTYPE html>
{% load static %}

<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{% block description %}Washington Natural Gas{% endblock %}">
    <meta name="robots" content="{% block robots %}noindex, nofollow{% endblock %}">
    <title>{% block title %}Washington Natural Gas{% endblock %}</title>
    {% include 'base/css.html' %}
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@900&amp;family=Reem+Kufi&amp;display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="{% static 'img/logo.png' %}" />
  </head>
  <body>
    {% include 'base/navbar.html' %}

    <div id="page-container">
      {% block content %}
      {% endblock %}
    </div>

    {% include 'base/footer.html' %}
    <div class="hvr-buzz-out" id="scroll-top"><i class="fa fa-chevron-up fa-lg"></i></div>
    <div class="loading">
      <div class="sk-circle">
        <div class="sk-circle1 sk-child"></div>
        <div class="sk-circle2 sk-child"></div>
        <div class="sk-circle3 sk-child"></div>
        <div class="sk-circle4 sk-child"></div>
        <div class="sk-circle5 sk-child"></div>
        <div class="sk-circle6 sk-child"></div>
        <div class="sk-circle7 sk-child"></div>
        <div class="sk-circle8 sk-child"></div>
        <div class="sk-circle9 sk-child"></div>
        <div class="sk-circle10 sk-child"></div>
        <div class="sk-circle11 sk-child"></div>
        <div class="sk-circle12 sk-child"></div>
      </div>
    </div>
    {% include 'base/js.html' %}
  </body>
</html>
